[Unit]
Description=Fan Speed Ctrl

[Service]
ExecStart=/usr/bin/fan_ctrl_speed
Restart=always
Type=dbus
BusName=xyz.openbmc_project.fan_ctrl_service

[Install]
WantedBy=multi-user.target
